:root {
  --main-bg: #fff;
  --primary-text: #001521;
  --secondry-text: #14b0e3;
  --default-text: #696969;
  --heading-text: #00263c;
  --default-color: #000;
  --secondry-bg: #F5FDFF;
}

body {
  background: var(--main-bg);
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
body .no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-space-between, .copyright-bg .copyright, footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display-flex, .companies, .start-today, .testimonials, .porfolio-bg .portfolio, .teachers, .about-bg .about-us, .header-bg header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap, .things-you-learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex, .newsletter, .testimonials li .name, .testimonials li .details, .header-bg header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center, .view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--heading-text);
}

footer {
  background: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin-top: 100px;
  position: relative;
}
footer .footer-overlay {
  background: var(--heading-text);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer .footer-links {
  position: relative;
}
footer .footer-links h3 {
  font-size: 20px;
  color: var(--main-bg);
  margin-bottom: 30px;
}
footer .footer-links li {
  margin: 10px 0;
}
footer .footer-links li a {
  color: var(--main-bg);
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer-links li span {
  font-weight: 700;
}
footer .footer-links li:hover a {
  color: var(--secondry-text);
}
footer .footer-links img {
  position: relative;
}
footer .footer-links .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-links .icons li {
  margin: 0 10px;
}
footer .footer-links .icons li:first-child {
  margin: 0 10px 0 0;
}
footer .footer-links p {
  position: relative;
  color: var(--main-bg);
  font-size: 18px;
  margin: 30px 0;
  line-height: 30px;
}
footer .footer-links .left-panel {
  width: 25%;
}
footer .contact-us li {
  font-size: 18px;
  color: var(--main-bg);
  margin: 20px 0;
}
footer .contact-us li p {
  margin-right: 20%;
}

.copyright-bg {
  background: var(--primary-text);
  padding: 20px 0;
}
.copyright-bg .copyright {
  color: var(--main-bg);
  font-size: 16px;
}
.copyright-bg .copyright a {
  color: var(--main-bg);
  font-size: 16px;
}
.copyright-bg .copyright a:hover {
  color: var(--secondry-text);
}

.header-bg {
  background: var(--main-bg);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  padding: 25px 0;
  z-index: 9;
}
.header-bg header .menu li {
  margin: 0 20px;
  /* Ripple effect */
}
.header-bg header .menu li a {
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: var(--default-color);
}
.header-bg header .menu li:hover a {
  color: var(--secondry-text);
}
.header-bg header .menu li .get-in-btn {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--secondry-text);
  background-color: #fff;
  border: 1px solid var(--secondry-text);
  outline: none;
  margin: 0 -20px 0 30px;
}
.header-bg header .menu li .get-in-btn:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  color: var(--secondry-text);
}
.header-bg header .menu li .get-in-btn:active {
  background-color: #14b0e3;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}
.header-bg header .menu li .register-btn {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
  background-color: #14b0e3;
  outline: none;
}
.header-bg header .menu li .register-btn:hover {
  background: #14b0e3 radial-gradient(circle, transparent 1%, #14b0e3 1%) center/15000%;
  color: #fff;
}
.header-bg header .menu li .register-btn:active {
  background-color: #14b0e3;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.register-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
  position: fixed;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.register-popup {
  background: var(--main-bg);
  width: 720px;
  height: 520px;
  position: fixed;
  display: none;
  z-index: 99;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
}
.register-popup .register-popup-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register-popup .register-popup-wrap .popup-close {
  font-size: 26px;
  color: var(--heading-text);
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.register-popup .register-popup-wrap .left-panel {
  background: var(--secondry-bg);
  width: 40%;
  border-radius: 20px 0 0 20px;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.register-popup .register-popup-wrap .left-panel .popup-logo {
  margin-top: 20px;
}
.register-popup .register-popup-wrap .left-panel img {
  width: 100%;
}
.register-popup .register-popup-wrap .right-panel {
  width: 55%;
  margin: 10px;
}
.register-popup .register-popup-wrap .right-panel h2 {
  font-size: 30px;
}
.register-popup .register-popup-wrap .right-panel p {
  font-size: 16px;
  color: var(--default-text);
  margin: 10px 0 40px;
}
.register-popup .register-popup-wrap .right-panel .first-name {
  width: 47%;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
.register-popup .register-popup-wrap .right-panel .last-name {
  font-size: 16px;
  outline: none;
  padding: 10px 15px;
  margin-left: 15px;
  width: 47%;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.register-popup .register-popup-wrap .right-panel .email {
  font-size: 16px;
  outline: none;
  padding: 10px 15px;
  width: 98%;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.register-popup .register-popup-wrap .right-panel .message {
  outline: none;
  padding: 10px;
  width: 98%;
  height: 100px;
  resize: none;
  font-size: 16px;
}
.register-popup .register-popup-wrap .right-panel textarea {
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.register-popup .register-popup-wrap .right-panel .register-btn-2 {
  font-size: 16px;
  background: #14b0e3;
  border-radius: 5px;
  width: 98%;
  color: var(--main-bg);
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  margin-top: 60px;
  border: 1px solid #ddd;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.register-popup .register-popup-wrap .right-panel .register-btn-2:hover {
  background: var(--heading-text);
}

.slider {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 656px;
}
.slider .overlay {
  background: var(--main-bg);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  display: block;
}
.slider h1 {
  position: absolute;
  top: 160px;
  font-size: 70px;
  line-height: 96px;
  color: #ffffff;
  margin: 0 20%;
  z-index: 2;
}
.slider h1 span {
  color: #0078ba;
  font-size: 80px;
}
.slider p {
  position: absolute;
  top: 380px;
  left: 35%;
  z-index: 3;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
}
.slider .join-now-btn {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  position: absolute;
  bottom: 120px;
  margin: auto;
  left: 44%;
  border: none;
  padding: 15px 60px;
  margin-top: 70px;
  border-radius: 30px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}
.slider .join-now-btn:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  color: #000;
}
.slider .join-now-btn:active {
  background-color: #14b0e3;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}
@-webkit-keyframes cssAnimation_0 {
  to {
    -webkit-transform: rotate(360deg) translate(0px, 0px);
            transform: rotate(360deg) translate(0px, 0px);
  }
}
@keyframes cssAnimation_0 {
  to {
    -webkit-transform: rotate(360deg) translate(0px, 0px);
            transform: rotate(360deg) translate(0px, 0px);
  }
}
.slider .slider-move .move-1 {
  -webkit-animation: cssAnimation_0 2871ms infinite linear;
          animation: cssAnimation_0 2871ms infinite linear;
  width: 3%;
  position: absolute;
  left: 130px;
  top: 160px;
  z-index: 9;
}
.slider .slider-move .move-2 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 5%;
  position: absolute;
  right: 100px;
  bottom: 70px;
}
.slider .slider-move .move-5 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 3%;
  position: absolute;
  right: 100px;
  top: 160px;
}
.slider .slider-move .move-3 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 4%;
  position: absolute;
  left: 412px;
  bottom: 65px;
}
.slider .slider-move .move-4 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 2%;
  position: absolute;
  left: 217px;
  bottom: 358px;
}
.slider .slider-move .move-6 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 3%;
  position: absolute;
  left: 158px;
  bottom: 151px;
}
.slider .slider-move .move-7 {
  -webkit-animation: cssAnimation_0 4000ms infinite linear;
          animation: cssAnimation_0 4000ms infinite linear;
  width: 5%;
  position: absolute;
  right: 275px;
  bottom: 255px;
}

.our-courses {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-courses li {
  width: 33%;
  text-align: center;
  border-bottom: 4px solid #0078ba;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 10px;
  padding: 60px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
}
.our-courses li:after {
  content: "";
  background: rgb(222, 247, 255);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 10px;
  width: 10px;
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  right: 0;
  margin: auto;
}
.our-courses li:hover:after {
  opacity: 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 60px;
}
.our-courses li h3 {
  font-size: 20px;
  margin: 20px;
}
.our-courses li p {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 120px;
  margin: 0 auto;
  font-size: 16px;
  color: #696969;
  font-weight: 400;
  line-height: 30px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.our-courses li a {
  color: #025481;
  font-size: 16px;
  margin-top: 60px;
  display: inline-block;
}
.our-courses li img {
  height: 100px;
  width: 100px;
}

.about-bg {
  background: var(--secondry-bg);
  padding: 80px 0;
  margin-top: 100px;
}
.about-bg .about-us .left-panel {
  width: 47%;
}
.about-bg .about-us .left-panel h2 span {
  color: var(--secondry-text);
}
.about-bg .about-us .left-panel h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  line-height: 30px;
  margin: 20px 24% 20px 0;
}
.about-bg .about-us .left-panel p {
  color: var(--default-text);
  line-height: 30px;
}
.about-bg .about-us .left-panel a {
  background: #0078ba;
  border-radius: 30px;
  padding: 10px 20px;
  color: var(--main-bg);
  display: inline-block;
  margin-top: 55px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-bg .about-us .left-panel a:hover {
  background: var(--heading-text);
}
.about-bg .about-us .right-panel {
  width: 45%;
  position: relative;
}
.about-bg .about-us .right-panel .about-image {
  position: absolute;
  top: 30px;
  left: 30%;
}
.about-bg .about-us .right-panel .circles {
  height: 90vmin;
  position: relative;
  width: 90vmin;
}
.about-bg .about-us .right-panel .circles > div {
  -webkit-animation: growAndFade 3s infinite ease-out;
          animation: growAndFade 3s infinite ease-out;
  background-color: #14b0e3;
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.about-bg .about-us .right-panel .circles .circle1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.about-bg .about-us .right-panel .circles .circle2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.about-bg .about-us .right-panel .circles .circle3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes growAndFade {
  0% {
    opacity: 0.25;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes growAndFade {
  0% {
    opacity: 0.25;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heading {
  text-align: center;
  margin: 100px 0 40px;
}
.heading span {
  color: var(--secondry-text);
}
.heading p {
  color: var(--heading-text);
  line-height: 24px;
  margin: 20px 36% 0;
}

.things-you-learn li {
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.things-you-learn li:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.things-you-learn h3 {
  font-size: 20px;
  margin-top: 50px;
}
.things-you-learn img {
  width: 60px;
  height: 60px;
}

.view-all {
  margin-top: 30px;
}
.view-all .view-all-btn {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border: none;
  border-radius: 30px;
  padding: 15px 60px;
  font-size: 16px;
  color: white;
  background-color: #14b0e3;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}
.view-all .view-all-btn:hover {
  background: #14b0e3 radial-gradient(circle, transparent 1%, #14b0e3 1%) center/15000%;
  color: #fff;
}
.view-all .view-all-btn:active {
  background-color: #14b0e3;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.teachers li {
  width: 49%;
  border-bottom: 4px solid #0078ba;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.teachers li h3 {
  font-size: 20px;
}
.teachers li h4 {
  font-size: 16px;
  font-weight: normal;
  color: var(--default-text);
  margin: 10px 0 20px;
}
.teachers li p {
  color: var(--default-text);
  line-height: 30px;
}
.teachers li img {
  width: 100%;
  margin-right: 30px;
}

.porfolio-bg {
  background: var(--secondry-bg);
  padding: 60px 0;
  margin-top: 100px;
}
.porfolio-bg .portfolio .left-panel {
  width: 44%;
}
.porfolio-bg .portfolio .left-panel span {
  color: var(--secondry-text);
}
.porfolio-bg .portfolio .left-panel h4 {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 20% 30px 0;
}
.porfolio-bg .portfolio .left-panel p {
  font-size: 16px;
  color: var(--default-text);
  line-height: 24px;
}
.porfolio-bg .portfolio .right-panel {
  width: 50%;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.porfolio-bg .portfolio .right-panel img {
  border-radius: 10px;
  width: 100%;
}
.porfolio-bg .portfolio .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.porfolio-bg .portfolio .slick-dots li {
  margin: 30px 5px 0;
  z-index: 9;
}
.porfolio-bg .portfolio .slick-dots button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 100%;
  border: 1px solid #001521;
  /* text-indent: -9999px; */
  font-size: 0;
}
.porfolio-bg .portfolio .slick-dots li.slick-active button {
  background-color: #001521;
}

.testimonials li {
  margin: 30px 10px 0;
  width: 49%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px 20px;
  border-bottom: 4px solid #0078ba;
}
.testimonials li .details p {
  color: var(--default-text);
  font-size: 16px;
  margin-right: 8%;
  line-height: 24px;
}
.testimonials li .name img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 30px 20px 0 0;
  vertical-align: middle;
}
.testimonials li .name h3 {
  font-size: 20px;
  margin-top: 20px;
}
.testimonials li .name p {
  color: var(--default-text);
  font-size: 16px;
  line-height: 24px;
}
.testimonials .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  position: absolute;
  bottom: -90px;
  left: 46%;
  z-index: 1;
}
.testimonials .slick-dots li {
  margin: 30px -5px 0;
  z-index: 9;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.testimonials .slick-dots button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 100%;
  border: 1px solid #001521;
  /* text-indent: -9999px; */
  font-size: 0;
}
.testimonials .slick-dots li.slick-active button {
  background-color: #001521;
}

.start-today {
  margin-top: 160px;
}
.start-today li {
  width: 49%;
  position: relative;
}
.start-today li .details {
  position: absolute;
  top: 0;
  margin: 60px 30px;
}
.start-today li .details h4 {
  font-size: 20px;
  color: #0078ba;
}
.start-today li .details h3 {
  font-size: 26px;
  line-height: 31px;
  margin: 20px 0 30px;
  margin-right: 40%;
}
.start-today li .details .start-today-btn {
  background: #0078ba;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  position: absolute;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  outline: none;
}
.start-today li .details .start-today-btn:hover {
  background: #14b0e3 radial-gradient(circle, transparent 1%, #14b0e3 1%) center/15000%;
  color: #fff;
}
.start-today li .details .start-today-btn:active {
  background-color: #14b0e3;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.newsletter {
  padding-top: 130px;
}
.newsletter .left-panel {
  width: 48%;
  margin-right: 10px;
}
.newsletter .left-panel h2 span {
  color: var(--secondry-text);
}
.newsletter .left-panel p {
  margin: 20px 45% 30px 0;
  font-size: 16px;
  color: var(--heading-text);
  line-height: 24px;
}
.newsletter .left-panel ::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--default-text);
}
.newsletter .left-panel ::-moz-placeholder {
  font-size: 16px;
  color: var(--default-text);
}
.newsletter .left-panel :-ms-input-placeholder {
  font-size: 16px;
  color: var(--default-text);
}
.newsletter .left-panel ::-ms-input-placeholder {
  font-size: 16px;
  color: var(--default-text);
}
.newsletter .left-panel ::placeholder {
  font-size: 16px;
  color: var(--default-text);
}
.newsletter .left-panel input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
}
.newsletter .left-panel textarea {
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.newsletter .left-panel .first-name {
  width: 48%;
  padding: 10px;
  margin: 0 16px 0 0;
  outline: none;
}
.newsletter .left-panel .last-name {
  outline: none;
  width: 48%;
  padding: 10px;
}
.newsletter .left-panel .email {
  outline: none;
  padding: 10px;
  width: 99%;
  margin: 20px 0;
}
.newsletter .left-panel .message {
  outline: none;
  padding: 10px;
  width: 99%;
  height: 100px;
  resize: none;
  font-size: 16px;
}
.newsletter .left-panel .submit {
  background: var(--secondry-text);
  width: 99%;
  padding: 15px;
  margin-top: 30px;
  color: var(--main-bg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}
.newsletter .left-panel .submit:hover {
  background: var(--heading-text);
}
.newsletter .right-panel {
  width: 49%;
  position: relative;
}
.newsletter .right-panel .move-8 {
  -webkit-animation: cssAnimation_0 2871ms infinite linear;
          animation: cssAnimation_0 2871ms infinite linear;
  position: absolute;
  right: 30px;
  top: 20px;
}
.newsletter .right-panel .move-9 {
  -webkit-animation: cssAnimation_0 2871ms infinite linear;
          animation: cssAnimation_0 2871ms infinite linear;
  position: absolute;
  left: 10px;
  bottom: 40px;
}
.newsletter .right-panel .move-10 {
  -webkit-animation: cssAnimation_0 2871ms infinite linear;
          animation: cssAnimation_0 2871ms infinite linear;
  position: absolute;
  right: 30px;
  bottom: -20px;
}
@keyframes cssAnimation_0 {
  to {
    -webkit-transform: rotate(360deg) translate(0px, 0px);
            transform: rotate(360deg) translate(0px, 0px);
  }
}

.companies li {
  margin-top: 30px;
  width: 15%;
  cursor: pointer;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.companies li img {
  width: 100%;
}
.companies li:hover {
  -webkit-filter: none;
          filter: none;
}

.nav-bar {
  display: none;
}

.mobile-menu {
  display: none;
}

nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header-bg {
    width: 100%;
    position: relative;
    padding: 15px 0;
  }
  .header-bg header nav {
    display: none;
  }
  .header-bg .nav-bar {
    display: block;
    position: relative;
  }
  .header-bg .nav-bar .fa-regular,
.header-bg .nav-bar .far {
    font-weight: 700;
    font-size: 30px;
  }
  .mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9;
    position: fixed;
    padding: 20px 0;
  }
  .mobile-menu .exit {
    display: inline-block;
    padding: 0 15px;
  }
  .mobile-menu .exit .fa-solid,
.mobile-menu .exit .fas {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mobile-menu .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .mobile-menu .profile h3 {
    font-size: 20px;
  }
  .mobile-menu .profile p {
    color: var(--default-text);
    font-size: 16px;
  }
  .mobile-menu .profile img {
    margin-right: 20px;
  }
  .mobile-menu .mobile-nav {
    margin-top: 30px;
  }
  .mobile-menu .mobile-nav li {
    font-size: 16px;
    padding: 20px 15px;
  }
  .mobile-menu .mobile-nav li a {
    color: #000;
  }
  .mobile-menu .mobile-nav li:hover {
    background: #14B0E3;
  }
  .mobile-menu .mobile-nav li:hover a {
    color: #fff;
  }
  .slider {
    height: 80vh;
  }
  .slider img {
    width: 100%;
    display: block;
    height: 80vh;
  }
  .slider .slider-move {
    display: none;
  }
  .slider .overlay {
    height: 80vh;
  }
  .slider h1 {
    top: 60px;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
  }
  .slider h1 span {
    font-size: 50px;
  }
  .slider p {
    position: absolute;
    top: 280px;
    left: 12%;
    z-index: 3;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
  }
  .slider .join-now-btn {
    bottom: 110px;
    left: 24%;
    margin-top: 0;
  }
  .heading {
    text-align: center;
    margin: 60px 0 30px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .heading p {
    line-height: 24px;
    margin: 20px 8% 0;
  }
  .our-courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-top: 60px;
  }
  .our-courses li {
    width: 100%;
    padding: 60px 0 40px;
  }
  .our-courses li p {
    display: none;
  }
  .our-courses li a {
    margin-top: 30px;
  }
  .about-bg {
    padding: 40px 0;
    margin-top: 60px;
  }
  .about-bg .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .about-bg .about-us .right-panel .about-image {
    position: absolute;
    top: 30px;
    left: 68%;
    width: 100%;
  }
  .about-bg .about-us .left-panel {
    width: 100%;
    margin-top: 30px;
  }
  .about-bg .about-us .left-panel h2 {
    font-size: 20px;
  }
  .about-bg .about-us .left-panel h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
  }
  .things-you-learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .things-you-learn li {
    width: 44%;
    margin: 10px;
    height: auto;
    padding: 25px 0;
  }
  .things-you-learn li h3 {
    font-size: 16px;
    margin-top: 20px;
  }
  .teachers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .teachers li {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teachers li .teachers-details {
    text-align: center;
    margin-top: 30px;
  }
  .teachers li .teachers-details p {
    display: none;
  }
  .teachers li .teachers-details h3 {
    font-size: 18px;
  }
  .teachers li .teachers-details h4 {
    margin: 10px 0 0;
  }
  .teachers li img {
    width: 60%;
    margin-right: 0;
  }
  .porfolio-bg .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .porfolio-bg .portfolio .left-panel {
    width: 100%;
  }
  .porfolio-bg .portfolio .left-panel h2 {
    font-size: 20px;
  }
  .porfolio-bg .portfolio .left-panel h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 2px 0;
    font-weight: normal;
  }
  .porfolio-bg .portfolio .left-panel p {
    display: none;
  }
  .porfolio-bg .portfolio .right-panel {
    width: 100%;
    margin-top: 40px;
  }
  .start-today {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-top: 100px;
  }
  .start-today li {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .start-today li img {
    width: 100%;
  }
  .start-today li .details {
    margin: 15px;
  }
  .start-today li .details h4 {
    font-size: 16px;
  }
  .start-today li .details h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0 20px;
    margin-right: 35%;
  }
  .start-today li .details .start-today-btn {
    padding: 10px;
    font-size: 14px;
  }
  .newsletter {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .newsletter .left-panel {
    width: 100%;
    text-align: center;
  }
  .newsletter .left-panel h2 {
    font-size: 20px;
    text-align: center;
  }
  .newsletter .left-panel p {
    margin: 20px 0 30px 0;
    text-align: center;
  }
  .newsletter .left-panel .first-name {
    margin: 0px 10px 0 0;
  }
  .newsletter .right-panel {
    width: 100%;
    margin-top: 40px;
  }
  .newsletter .right-panel img {
    width: 100%;
  }
  .newsletter .right-panel .move-8 {
    width: 10%;
  }
  .newsletter .right-panel .move-9 {
    width: 10%;
  }
  .newsletter .right-panel .move-10 {
    width: 10%;
  }
  .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    display: block;
    padding-bottom: 20px;
    margin: 30px -15px 0 -15px;
  }
  .companies li {
    width: 40%;
    display: inline-block;
    white-space: normal;
    margin: 0 20px;
  }
  .companies li img {
    width: 100%;
  }
  footer {
    padding: 10px 0;
    margin-top: 60px;
  }
  footer .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    width: 100%;
  }
  footer .footer-links img {
    width: 50%;
  }
  footer .footer-links .icons {
    display: none;
  }
  footer .footer-links h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer .footer-links li p {
    font-size: 14px;
    margin: 0;
  }
  footer .footer-links li span {
    font-size: 16px;
  }
  footer .footer-links li a {
    font-size: 14px;
  }
  footer .footer-links .left-panel {
    width: 100%;
  }
  footer .footer-links .left-panel p {
    display: none;
  }
  footer .footer-links div {
    width: 100%;
    margin-top: 30px;
  }
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright div {
    margin: 10px 0;
  }
}